<a href="https://colab.research.google.com/github/azzbc7819/test_igaimers/blob/develop/%EB%8D%B0%EC%9D%B4%ED%84%B0_%EC%B2%98%EB%A6%AC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import torch
import torchvision
import torchvision.transforms as tr #데이터 불러오고 바로 전처리 하게 해주는 라이브러리
from torch.utils.data import DataLoader, Dataset
#데이터로더는 데이터 배치 사이즈 단위로 만들어줌, 
import numpy as np

In [ ]:
trainfile = '/content/drive/MyDrive/LG Aimers 해커톤/train.csv'
data = pd.read_csv(trainfile)
data.head()

,PRODUCT_ID,Y_Class,Y_Quality,TIMESTAMP,LINE,PRODUCT_CODE,X_1,X_2,X_3,X_4,...,X_2866,X_2867,X_2868,X_2869,X_2870,X_2871,X_2872,X_2873,X_2874,X_2875
0,TRAIN_000,1,0.533433,2022-06-13 5:14,T050304,A_31,NaN,NaN,NaN,NaN,...,39.34,40.89,32.56,34.09,77.77,NaN,NaN,NaN,NaN,NaN
1,TRAIN_001,2,0.541819,2022-06-13 5:22,T050307,A_31,NaN,NaN,NaN,NaN,...,38.89,42.82,43.92,35.34,72.55,NaN,NaN,NaN,NaN,NaN
2,TRAIN_002,1,0.531267,2022-06-13 5:30,T050304,A_31,NaN,NaN,NaN,NaN,...,39.19,36.65,42.47,36.53,78.35,NaN,NaN,NaN,NaN,NaN
3,TRAIN_003,2,0.537325,2022-06-13 5:39,T050307,A_31,NaN,NaN,NaN,NaN,...,37.74,39.17,52.17,30.58,71.78,NaN,NaN,NaN,NaN,NaN
4,TRAIN_004,1,0.531590,2022-06-13 5:47,T050304,A_31,NaN,NaN,NaN,NaN,...,38.70,41.89,46.93,33.09,76.97,NaN,NaN,NaN,NaN,NaN

In [ ]:
train_x = data.drop(columns=['Y_Class', 'Y_Quality'])
train_y = data['Y_Class']

In [ ]:
train_x = train_x.fillna(0) #결측값 모두 0으로 채우기

In [ ]:
trainloader = DataLoader(train_x, batch_size=60, shuffle=True)

In [ ]:
trainloader

In [ ]:
class CustomDataset(Dataset):
  class CustomDataset(Dataset):
	def __init__(self, csv_path):
		df = pd.read_csv(csv_path)
		# df.shape : (1314,16)
		
		# df.iloc을 통해 슬라이싱 하는 과정 혹은 reshapes하는 과정은 csv 파일의 구성에 따라 다르다.
		# 해당 데이터는 2번째 index부터 parameters이고,
		# 1번째 index가 label이기에 다음처럼 코드를 구성하였다.
		self.x = df.drop(columns=['Y_Class', 'Y_Quality'])
		self.y = df['Y_Class']
	
	def __len__(self):
		# 가지고 있는 데이터셋의 길이를 반환한다.
		return len(self.x) # 599?

	def __getitem__(self,idx):
		inp = torch.FloatTensor(self.inp[idx])
		outp = torch.FloatTensor(self.outp[idx])
		return inp, outp # 해당하는 idx(인덱스)의 input과 output 데이터를 반환한다.